# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API-ключи
# для получения курса валют
API_KEY=your_api_key_hereK

# для получения цен  на акции S&P500
API_KEY_SP_500=your_api_key_here500
